<h1> Payment Results </h1>

<h2> APR </h2> <h3> <%= @interst %> </h3>
<h2> Number of Years </h2> <h3> <%= @year %> </h3>
<h2> Principal </h2> <h3> <%= @amount %> </h3>
<h2> Payment </h2> <h3> $<%= @square %> </h3>

<form action = "/payment/new">
  <button> Return to entry form </button>
</form>
