<h1> Payment Results </h1>

<h1> APR </h2> <h3> <%= @interest %>% </h1>
<h1> Number of Years </h1> <h1> <%= @year %> </h1>
<h1> Principal </h1> <h1> <%= @amount %> </h1>
<h1> Payment </h1> <h1> $<%= @square %>0 </h1>

<form action = "/payment/new">
  <button> Return to entry form </button>
</form>
