<h1> Payment Calculation </h1>

<form action = "/payment_results">
  <div>
    <label for ="apr"> APR</label>
    <input type = "text" id = "apr" name = "int">
  </div>
  <div>
    <label> Number of years</label>
    <input type = "text" name = "year">
  </div>
  <div>
    <label> Principal</label>
    <input type = "text" name = "amount">
  </div>
  <button> Calculate monthly payment </button>
</form>
