<h1> Random Calculation </h1>

<form action = "/random_results">
  <div>
    <label> Minimum </label>
    <input type = "text" name = "min">
  </div>
  <div>
    <label> Maximum </label>
    <input type = "text" name = "max">
  </div>

  <button> Pick randoum number </button>
</form>
