<h1> Random Results </h1>

<h1> Minimum </h1> <h1> <%= @min %> </h1>
<h1> Maximum </h1> <h1> <%= @max %> </h1>
<h1> Random Number </h1> <h1> <%= @square %> </h1>
<form action = "/random/new">
  <button> Recalculate </button>
</form>
