<h1> Payment Results </h1>

<h1> APR </h2> <h3> <%= @interst %> </h1>
<h1> Number of Years </h2> <h3> <%= @year %> </h1>
<h1> Principal </h2> <h3> <%= @amount %> </h1>
<h1> Payment </h2> <h3> $<%= @square %> </h1>

<form action = "/payment/new">
  <button> Return to entry form </button>
</form>
