<h1> Random Calculation </h1>

<form action = "/random_results">
  <div>
    <label for ="min"> Minimum </label>
    <input type = "text" id = "min" name = "min">
  </div>
  <div>
    <label for ="max"> Maximum </label>
    <input type = "text" id = "max" name = "max">
  </div>

  <button> Pick random number </button>
</form>
