<h1> Square of a number </h1>
<h2> You entered <%= @user_numer %> </h2>
<h3> The square of <%= @user_number %> is <%= @square %> </h3>

<form action = "/square/new">
  <button> Return to entry form </button>
</form>
