<h1> Square Root of a number </h1>

<form action = "/square_root/results">
  <div>
    <label> Enter a number</label>
    <input type = "text" name = "user_number">
  </div>
  <button> Calculate Square Root</button>
</form>
